:root{
--almost-white: hsl(0, 0%, 98%);
--medium-gray: hsl(0, 0%, 41%);
--almost-black: hsl(0, 0%, 8%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    background:var(--almost-white) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    max-inline-size: 375px;
    width: 100%;
    
}
h1{
    margin: block 20px;;
    padding: 20px;
    color: var(--almost-black);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
header{
    
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
nav{
    margin-inline: 10px;
    margin-block: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
nav p{
    font-weight: 700;
    font-size: 30px;
    }
.mobile-img{
    width: 100%;
    height: auto;
    flex: 1;
}
.desktop-img{
    display: none;
}
.content{
    font-weight: 500;
    color: var(--medium-gray);
    text-align: center;
    line-height: 30px;
    font-size: 18px;

}
.learn-btn{
    display: block;
    background:var(--almost-black) ;
    color: var(--almost-white);
    padding: 15px;
    width: 150px;
    text-align: center;
    margin-inline: auto;
    margin-block: 10px;
    border-radius: 10px;
    text-decoration: none;

}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
    
}
footer img{  
    width: 20%;
    height: auto;
    

}
.nav-list{
    display: none;
}
.login-register{
    display: none;
}
@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    .menu{
        display: none;
    }
    header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        
    }
    main{
        min-inline-size: 1440px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
    .nav-list{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
    }
    .nav-list li a{
        padding: 0 20px;
        text-decoration: none;
        color: var(--medium-gray);

    }
    .select-features-company{
        justify-content: space-between;
        align-items: center;
        
    }
    .nav-select{
        text-decoration: none;
        padding: 0 20px;
        border: none;
        background: var(--almost-white);
        color: var(--medium-gray);
        font-size: 18px;
        font-family: 'Epilogue', sans-serif;
    }
    .login-register{
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-block: 10px;
        justify-content: space-between;
        list-style: none;
        align-items: center;
    }
    .login-register li a{
        padding: 0 20px;
        text-decoration: none;
        color: var(--medium-gray);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
    }
    h1{
        margin-left: -15px;
        color: var(--almost-black);
        text-align: left;
        font-size: 46pt;
        font-weight: 700;
    }
    .content{
        text-align: left;
        line-height: 1.5;
        margin-block: 2rem;
    
    }
    .container-main{
        margin-inline: auto;
        max-width: 70%;
        display: flex;
        align-items: end;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap:6rem;
        margin: 0 80px;
        
       

    }
    .container-left{
        
        /*for vertical alining
        align-items: flex-start;
        /*horizontal alining*/
        width: 45%;
        height: auto;
        flex: 1;
        
    }
    .mobile-img{
        display: none;
    }
    .desktop-img{
        display: block;
        max-width: 45%;
        height:auto;
        
        
        flex: 1;
    }
    
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-top: 5rem;
        
        
    }
    
    .reg-btn{
        display: block;
        
        color: var(--almost-white);
        padding: 15px;
        border-style: solid;
        border-color: var(--medium-gray);
        text-align: center;
        margin-inline: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 40px;
        align-items: center;
        display: flex;
        
        border-radius: 15px;
         
    }
    
    .learn-btn{
        margin-block: 3rem;
        margin-left: 0;    }
}